<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078644277957-bseu81t0glhoouev735pk2gl7646c1l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078644277957-bseu81t0glhoouev735pk2gl7646c1l8</string>
	<key>API_KEY</key>
	<string>AIzaSyDgrZEccOWyvhfoIWDN0Tnnbh0PlxxDjUs</string>
	<key>GCM_SENDER_ID</key>
	<string>1078644277957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unibuc.ro.Civic-Guard</string>
	<key>PROJECT_ID</key>
	<string>proiect-mds-48325</string>
	<key>STORAGE_BUCKET</key>
	<string>proiect-mds-48325.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078644277957:ios:02768486ea698eaf62a6ac</string>
	<key>DATABASE_URL</key>
	<string>https://proiect-mds-48325-default-rtdb.firebaseio.com</string>
</dict>
</plist>